{
  "extends": [
    "eslint",
    "prettier"
  ],
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "rules": {
    "brace-style": [
      2,
      "allman"
    ]
  }
}