<div class="row">
  <div class="col-12">
    <div class="row mx-0 my-4">
      <div class="col-12">
        <input
          id="txtUser"
          type="text"
          name="user"
          class="form-control form-group"
          placeholder="User"
          required
          autofocus
        />
      </div>
    </div>

    <div class="row mx-0 mb-3">
      <div class="col-12">
        <input
          id="txtPassword"
          type="password"
          name="password"
          class="form-control form-group"
          placeholder="Password"
          required
        />
      </div>
    </div>

    <div class="row mx-0 mb-3">
      <div class="col-12">
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary">Log In</button>
        </div>
      </div>
    </div>

    <div class="row mx-0 mb-4">
      <div class="col-12">
        <div class="bg-dark text-center">
          <p class="text-light p-2">
            <span>Don’t have an account? </span>

            <a routerLink="/login/signup">Sign Up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
