<div class="modal fade" id="UpdateCityModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="add-city-modal" class="modal-title">
          Update City <b>#{{ city?.id }}</b>
        </h5>

        <button
          id="BtnCloseUpdateCityModal"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="col-3 input-group-text">Name</span>
          <input
            [ngModel]="city?.name"
            (ngModelChange)="city.name = $event.toUpperCase().trim()"
            type="text"
            class="form-control"
            placeholder="Name"
            aria-label="Name"
            required
            maxlength="25"
          />
        </div>

        <div class="input-group mb-3">
          <span class="col-3 input-group-text">State</span>
          <input
            [ngModel]="city?.state"
            (ngModelChange)="city.state = $event.toUpperCase().trim()"
            type="text"
            class="form-control"
            placeholder="State"
            aria-label="State"
            required
            maxlength="25"
          />
        </div>

        <div class="input-group mb-3">
          <span class="col-3 input-group-text">Country</span>
          <input
            [ngModel]="city?.country"
            (ngModelChange)="city.country = $event.toUpperCase().trim()"
            type="text"
            class="form-control"
            placeholder="Country"
            aria-label="Country"
            required
            maxlength="25"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>

        <button type="button" class="btn btn-success" (click)="Save()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
